.Edit_vbox{
    -fx-background-color:#FFF;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);
}
.HD_Box{
    -fx-background-color:#FFF;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);
}
.HD_Box:hover{
    -fx-background-color: #b4b1b1;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);
}
.close{
    -fx-fill: #5e5e5e;
}
.close:hover{
    -fx-fill: #ff6666;
}