.top_item{
    -fx-background-color:#fff;
    -fx-background-radius: 10;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);
}

.Vung_item{
    -fx-background-color:#fff;
    -fx-border-width: 2px;
    -fx-border-color:  #94b8b8;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);
}
.Vung_item:hover{
    -fx-background-color: #e0dede;
    -fx-border-width: 2px;
    -fx-border-color: #57eae5;
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1),10.0,0,0,10.0);
}
.round_box{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 5px;
}
