.loginBtn{
    -fx-background-color:#6699ff;
    -fx-text-fill: #ffff;
    -fx-background-radius: 10px;
}
.loginBtn:hover{
    -fx-text-fill: #6699ff;
    -fx-background-color:transparent;
    -fx-border-color: #6699ff;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-radius: 10px;
}
.close{
    -fx-fill: #5e5e5e;
}
.close:hover{
    -fx-fill: #ff6666;
}
.Signup{
    -fx-text-fill: #6699ff;
}
.Signup:hover{
    -fx-text-fill: #ff6666;
}
.backbtn{
    -fx-fill: #54545454;
}
.backbtn:hover{
    -fx-fill: #ff6666;
}