@model GiaoHangTietKiem.Views.Admin.Models.List_Role
@using GiaoHangTietKiem.Views.Admin.Models
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    @using (Html.BeginForm())
    {
        <h5 class="card-header">Danh sách quyền</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Check</th>
                        <th>Tên quyền</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model.RoleList)
                    {
                        <tr>
                            <td><input class="form-check-input me-1" type="checkbox" checked="@item.Status"></td>
                            <td>@item.RoleName</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <button type="submit" class="btn rounded-pill btn-success" id="SaveRole">
            <span class="tf-icons bx bx-save"></span>&nbsp; Lưu
        </button>
    }
</div>



